.about_box {
  position: relative;
  box-sizing: border-box;
  height: 100vh;
  width: auto;
  text-align: center;
  font-size: 2rem;
  z-index: 1;
}
.contents_title {
  font-family: "Raleway";
}
.unios103,
.right {
  position: absolute;
  opacity: 0.9;
}
.unios103 {
  width: 30vw;
  right: 0;
  bottom: 0;
  z-index: -2;
}
.about_contents {
  font-family: "Lato", "Noto Sans JP";
  font-weight: lighter;
  font-size: 1.1rem;
  max-width: 750px;
  margin: 0 auto;
  padding: 5vh 5.5vw 0 0;
  text-align: left;
  line-height: 1.4rem;
}
.sub_title {
  font-family: "Raleway", "Noto Sans JP";
  font-weight: 300;
  font-size: 1.7rem;
  text-align: left;
  padding: 8px 5%;
}
.sub_title span {
  font-size: 1rem;
}
.body_text {
  text-align: left;
  display: inline-block;
  padding: 8px 5%;
}
.body_text p {
  margin: 0 auto;
  line-height: 1.4rem;
}
.other_prof_box {
  display: flex;
  width: 100%;
  margin: 0 auto;
  padding: 8px 0;
  flex-wrap: wrap;
}
.other_prof,
.other_prof a {
  font-size: 0.75rem;
  line-height: 0.87rem;
  color: #434343;
  width: 25%;
  margin: 0 auto;
  text-align: center;
  word-break: keep-all;
}
.other_prof a {
  text-decoration: none;
  transition: 0.4s;
  word-break: keep-all;
}
.prof_p {
  margin: 0 auto;
  text-align: center;
}
.icon_right {
  display: inline-block;
  text-align: left;
}
.other_prof a:hover {
  color: #b4b4b4;
}
.img2_contents {
  position: relative;
  height: 100vh;
  width: 100vw;
}
.account_img {
  object-fit: cover;
  object-position: 0 70%;
  height: 65vh;
  width: 40vh;
  z-index: -1;
  right: 0;
  bottom: 0;
  opacity: 0.8;
}
.about_account {
  height: 70vh;
}
.account_contents_box {
  font-family: "Lato", "Noto Sans JP";
  font-weight: lighter;
  padding-top: 5vh;
  max-width: 60vw;
}
.end {
  text-align: center;
  display: block;
  padding-top: 9vh;
}
.end p {
  display: inline-block;
  padding-left: 0.5rem;
  border-bottom: 1px solid #eb7a77;
}
.copy {
  font-family: "Lato";
  font-weight: 300;
  position: absolute;
  bottom: 5vh;
  width: 100vw;
  font-size: 0.65rem;
}
p {
  overflow-wrap: break-word;
  word-wrap: break-word;
}
.copy p {
  display: block;
  height: 1.5rem;
}
.copy p a {
  font-size: 1.2rem;
  display: inline-block;
  line-height: 1.3rem;
  padding: 0 10px;
  text-decoration: none;
  color: #434343;
  transition: 0.4s;
}
.copy p a:hover {
  color: #b4b4b4;
}
.work {
  position: relative;
}
.work_contents {
  position: absolute;
  top: 0;
  z-index: -3;
  opacity: 0.4;
}
.work_contents p {
  position: relative;
}
.work_sub {
  padding-right: 2rem;
}
.work_img {
  height: 60vh;
  width: 43vw;
  object-fit: cover;
  object-position: 10% 27%;
  border-radius: 0 0 200% 0;
  shape-outside: circle(50%);
}
.font_j {
  font-family: "Noto Sans JP";
}
small {
  font-size: 0.9rem;
}
span .big {
  font-size: 1.5rem;
}
.work .about_contents {
  max-width: 850px;
  padding-right: 0;
}
.img_other_box {
  height: 20%;
  width: 25%;
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: center;
}
.img_pos_box {
  position: relative;
  width: 27vh;
  height: 20vh;
  transition: 0.6s;
}
.img_pos_box:hover {
  box-shadow: 1px 1px 2px #434343;
  border-radius: 4%;
}
.img_pos {
  position: absolute;
  display: inline-block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 5%;
  object-fit: cover;
  object-position: 0 20%;
}
.sketch {
  object-position: 100% 30%;
}
.img_pos_comment {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 85%;
  height: 85%;
  transform: translateY(-50%) translateX(-50%);
  border-radius: 4%;
  background-color: rgba(255, 255, 255, 0.8);
  transition: 0.5s;
  transition-delay: 0.03s;
  opacity: 0;
}
.img_pos_comment:hover {
  opacity: 1;
}
.ipc {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  overflow-wrap: break-word;
  word-wrap: break-word;
}
.prof_text {
  font-size: 80%;
  padding: 0.1rem 1rem;
  text-align: left;
}
@media (max-height: 700px) {
  .about_contents {
    font-size: 1.1rem;
    max-width: 520px;
    padding: 5vh 5.5vw 0 0;
  }
  .other_prof,
  .other_prof a {
    font-size: 0.7rem;
    line-height: 1.15rem;
  }
  .sub_title,
  .body_text {
    padding: 5px 5%;
  }
  .other_prof_box {
    padding: 5px 0;
  }
  .account_contents_box {
    padding-top: 8vh;
    max-width: 60vw;
  }
}
@media (max-height: 570px) {
  .about_contents {
    max-width: 400px;
    padding: 5vh 5.5vw 0 0;
  }
}
.img_pos_box {
  box-sizing: content-box;
}
