@import "rCss.css";
@import "menu.css";
@import "contents.css";
@import "media.css";

html {
  background-color: #fefafb;
  font-size: 2.65vh;
  color: #000;
  font-family: "Lato", "Noto Sans JP";
}
body {
  position: relative;
}
.trailing,
.back {
  position: fixed;
  top: 0;
  left: 0;
}
.trailing {
  z-index: 10;
}
.header_font > h2 {
  font-size: 1.3rem;
  line-height: 1.3rem;
  font-weight: 100;
}
.header_font > span {
  font-size: 0.7rem;
  color: #3c485c;
}
header {
  display: flex;
  justify-content: space-between;
  /* widthの指定のサイズにpaddingも入れる */
  box-sizing: border-box;
  /* header固定 */
  position: fixed;
  z-index: 9;
  width: 100%;
  padding-top: 0.9rem;
  padding-left: 1.1rem;
  line-height: 0.8rem;
}
.header_canvas {
  padding-right: 1.8rem;
}
.e_title {
  font-family: "Lato";
}
.home {
  position: relative;
  width: 100%;
}
/* WAR: 削除しない、値も変えない */
.header_div {
  opacity: 0;
}
.cvs_home {
  position: absolute;
  z-index: 6;
  letter-spacing: 10px;
  background-color: transparent;
}
.hello {
  letter-spacing: 0px;
}
.sakura {
  position: absolute;
  top: 0;
  height: 100vh;
  opacity: 0;
}
.donut_parents {
  position: absolute;
  height: 100vh;
}
.donut {
  position: absolute;
  bottom: 0;
  width: 100vw;
  opacity: 0;
}
.height {
  height: 100vh;
}

@media (max-width: 750px) {
  header {
    /* TODO:メニューボタンが小さかったら直す */
    line-height: 0.7rem;
    padding-top: 0.7rem;
    padding-left: 0.4rem;
  }
  .header_canvas {
    padding-right: 0.7rem;
  }
}
