@media (max-height: 700px) {
  .about_contents {
    font-size: 1.1rem;
    max-width: 520px;
    padding: 5vh 5.5vw 0 0;
  }
  .other_prof,
  .other_prof a {
    font-size: 0.7rem;
    line-height: 1.15rem;
  }
  .sub_title,
  .body_text {
    padding: 5px 5%;
  }
  .other_prof_box {
    padding: 5px 0;
  }
  .account_contents_box {
    padding-top: 8vh;
    max-width: 60vw;
  }
}
@media (max-height: 570px) {
  .about_contents {
    max-width: 400px;
    padding: 5vh 5.5vw 0 0;
  }
  .img_other_box {
    max-width: 700px;
    height: 30vh;
    width: 25%;
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    padding-right: 3%;
    box-sizing: border-box;
  }
  .work_prof_box {
    max-width: 700px;
    display: flex;
    justify-content: space-between;
  }
  .work .about_contents {
    max-width: 500px;
  }
  .img_pos_comment {
    position: relative;
    opacity: 1;
    width: 100%;
    height: 100%;
    background-color: #0000;
  }
  .ipc {
    position: absolute;
    transform: translateX(-50%) translateY(0%);
    top: 0;
    padding-top: 0.5rem;
  }
  .prof_p p {
    padding-bottom: 0.5rem;
  }
  .clock {
    object-fit: cover;
    object-position: 50% 50%;
  }
  .prof_text {
    padding: 0 1%;
  }
  .ipc i {
    opacity: 0;
    position: absolute;
    line-height: 0;
  }
}
@media (max-height: 330px) {
  .ipc p {
    line-height: 1.5rem;
  }
  .huwa .img_pos {
    object-fit: cover;
    object-position: 50% 50%;
  }
}
@media (max-width: 730px) and (min-height: 400px) {
  .work_prof_box {
    clear: right;
    display: flex;
    justify-content: center;
  }
  .min_works {
    margin: 0 1rem;
  }
  .contents_title {
    font-size: 1.5rem;
  }
  .min_works {
    font-size: 0.9rem;
    padding: 0.5rem 0 0 0;
    border-radius: 4%;
  }
  .sub_title {
    font-size: 1.3rem;
  }
  .body_text {
    font-size: 0.7rem;
    padding-top: 0.1rem;
  }
  .body_text p {
    line-height: 1rem;
  }
  .other_prof_box {
    padding: 0.2rem;
  }
  .min_prof_box {
    font-size: 0.6rem;
    width: 50%;
  }
  .p_h {
    width: 50%;
  }
  .min_icon_right {
    text-align: center;
    display: block;
    padding: 0;
    line-break: strict;
    font-size: 0.8em;
    padding-bottom: 0;
  }
  .work_icon_right {
    font-size: 0.9em;
    position: relative;
    top: 0;
    padding: 0.5rem 0 0.3rem 0;
  }
  .unios103 {
    width: 70vw;
    opacity: 0.75;
    filter: blur(0.5px) brightness(1.4) contrast(70%);
  }
  .prof_p {
    display: block;
  }
  .min_box {
    width: 60vw;
    margin-left: 0;
    padding-left: 0;
    padding-right: 2rem;
  }
  .min {
    width: 100%;
  }
  .other_prof {
    width: 44vw;
    margin: 0;
    padding-top: 0.1rem;
    font-size: 0.7rem;
  }
  .prof_text {
    padding: 0;
  }
  .img_other_box {
    height: 36vh;
    width: 45%;
    transform: translateX(0%);
    position: relative;
    padding-right: 3%;
  }
  .img_pos {
    position: relative;
    height: 40%;
  }
  .img_pos_comment {
    position: relative;
    opacity: 1;
    width: 100%;
    height: 50%;
    top: 0;
    left: 0;
    transform: translateY(0%) translateX(0%);
    margin: 0;
    background-color: #0000;
  }
  .ipc {
    transform: translateY(0%) translateX(0%);
    position: absolute;
    top: 0;
    left: 0;
  }
  .ipc i {
    opacity: 0;
    position: absolute;
    line-height: 0;
  }
  .big {
    font-size: 1.2rem;
    letter-spacing: 0.02rem;
  }
  .big::after {
    content: "\A";
    white-space: pre;
  }
  .and_left {
    float: right;
  }
  .about_prof_p p {
    padding-bottom: 0;
  }
}
@media (max-height: 570px) {
  .work_icon_right {
    padding: 0;
    font-size: 0.8rem;
  }
}
