.menu_list {
  font-family: "Raleway";
  position: fixed;
  height: 100vh;
  width: 180px;
  top: 0;
  right: -60vw;
  z-index: 8;
  opacity: 0;
  transition: 1s;
  transition-delay: 0.2s;
}
.menu_list_box {
  font-size: 100%;
  position: absolute;
  top: 16vh;
  right: 15%;
  line-height: 10vh;
  height: 100vh;
}
.a_box {
  width: 100%;
  padding-right: 1rem;
}
.a_box a {
  text-decoration: none;
  color: #000;
  position: relative;
}
.a_box a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  border-bottom: 1.6px solid #eb7a77;
  transition: 0.35s;
}
.a_box a:hover::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  border-bottom: 1.6px solid #ff8884ea;
}
.a_box a:hover > .pink {
  color: #eb7a77;
}
.account {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 50vw;
  z-index: 11;
}
.account_box {
  position: relative;
  padding: 0 3vw;
  text-align: end;
  padding-bottom: 0.3rem;
}
.account_box p {
  display: inline;
}
.account_box p a {
  font-family: "Raleway";
  text-decoration: none;
  color: #434343;
  transition: 0.4s;
  padding: 0 3vw;
}
.account_box p a:hover {
  color: #b4b4b4;
}

.phone_menu {
  position: fixed;
  width: 100vw;
  height: 100vh;
  right: -100vw;
  z-index: 7;
  transition: 1s;
  transition-delay: 0.2s;
  background: linear-gradient(to right, #fefafb00 60%, #fefafb88, #fefafb);
}
