html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
big,
cite,
code,
em,
img,
q,
s,
small,
strong,
var,
i,
center,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
canvas,
footer,
header,
menu {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
input[type="text"] {
  padding: 0;
  border: none;
  border-radius: 0;
  outline: none;
  background: none;
}
input[type="radio"] {
  display: none;
  background-color: white;
}
input[type="checkbox"] {
  display: none;
  background-color: rgba(190, 190, 190, 0);
}
input[type="checkbox"]:checked + label {
  background-color: rgba(190, 190, 190, 0);
}
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  resize: none;
  padding: 0;
  border: 0;
  outline: none;
  background: transparent;
}
button,
input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0;
  border: none;
  outline: none;
  background: transparent;
}
input[type="button"] {
  background-color: white;
}
