@import ../variable/color
@import ../variable/details

.home-wrapper
  +flex-direction-column
  align-items: center
  padding: 2% 4rem
  @media #{$is-phone}
    padding: 5%
  @media #{$large-screen-display}
    max-width: 1200px
    margin: 0 auto
    padding: 2% 0

.link
  &:hover
    color: $main-color
    text-decoration: underline
