@import "../variable/color"
@import "../variable/details"
@import "../variable/components/text"

.home-wrapper
  +flex-direction-column
  align-items: center
  padding: 3% 4rem
  @media #{$is-phone}
    padding: 6%
  @media #{$large-screen-display}
    margin: 0 auto
    max-width: 1200px
    padding: 2% 0

.section-title
  +text-buttom-margin

.section-title-span
  +section-title
