body{
    font-family: "M PLUS 1p";
    font-size:20px;
    color:#FFABCE;
    line-height: 1.5;
    max-width:1000px;
    min-width:600px;
    margin-left:28px;
    background: -moz-linear-gradient(left, #FFF 40%,#FFD5EC	);
    background: -webkit-linear-gradient(left, #FFF 40%,#FFD5EC	);
    background: linear-gradient(to right,  #FFF 40%,#FFD5EC	);
}
header{
    height: 60px;
    margin-top:0px;
    background-color:white;
}
.list a{
    font-family: 'Kite One', sans-serif;
    font-size:23px;
    color:#FFABCE;
    float :left;
    height: 60px;
    padding:10px 10px;
    text-decoration:none; 
    margin-right:50px;
    letter-spacing: 0.05em;
}
.list a:hover{
    color:#FFABCE;
    text-decoration:underline;
}
.twit img{
    float:right;
    margin:17px;
    height: 26px;
    width:26px;
}
.twit a:hover img{
    filter: alpha(opacity=80);
    -moz-opacity: 0.8;
    opacity: 0.8;
    border: solid rgba(248, 185, 211, 0.774) 1px;
}
.icon img{
    max-width:52vh;
    max-height:52vh;
    border-radius:30px;
}
.title {
    color:#FF5192;
    font-family: 'Josefin Slab', serif;
    letter-spacing: 0.05em;
    margin-bottom:15px;
    padding-top:0px;
    font-size:60px;
}
.subtitle a{
    color:#FF69A3;
    font-size:25px;
    text-decoration:none; 
}
.subtitle a:hover{
    color:#FFABCE;
    text-decoration:underline;
}
.kosen{

    padding:10px 20px;
    margin:0px 2px;
    display: inline-block;
    border:dashed 2px;
    font-size:23px;
}
.kosen a{
    color:#FF69A3;
    text-decoration:none;
}
.kosen a:hover{
    color:#FFABCE;
    text-decoration:underline;
}
span{
    color:#FF69A3;
}
.content{
    float:left;
}
.study{
    clear: left;
}
.picture img{
    float:left;
    max-width: 33%;
    max-height: 33%;
}
.study span{
    color:#FF5192;
    font-size: 29px;
    letter-spacing: 0.05em;
}
.language{
    color:#FF69A3;
    padding:3px 10px;
    border-left: 10px solid #FF69A3;
}
.language span{
    background:#FFBEDA;
    font-size:25px;
    color:white;
    padding:0px 10px;
    border-radius: 20px;
    font-family: 'Avenir','Arial';
}
.end{
    border-top:dashed 2px #FFABCE;
    color:#FF5192;
    margin-bottom:30px;
}
footer{
    height: 50px;
    margin-bottom:0px;
    background-color:white;
}
.list a{
    font-family: 'Kite One', sans-serif;
    font-size:20px;
    color:#FFABCE;
    float :left;
    height: 50px;
    padding:15px 15px;
    text-decoration:none; 
    margin-right:50px;
    letter-spacing: 0.05em;
}
footer .list a:hover{
    color:#FFABCE;
    text-decoration:underline;
}
footer .twit img{
    float:right;
    margin:14px;
    height:20px;
    width:20px;
}
footer .twit a:hover img{
    filter: alpha(opacity=80);
    -moz-opacity: 0.8;
    opacity: 0.8;
    border: solid rgba(248, 185, 211, 0.774) 1px;
}