@mixin line-style {
  @apply absolute top-0 h-full transform translate-x-m50 skew-x-m50 bg-white-3;
}

.background {
  z-index: -1;
  @apply fixed h-full w-full;
  background-image: linear-gradient(
    to right,
    #f78ca0 0%,
    #f9748f 19%,
    #fd868c 60%,
    #fe9a8b 100%
  );

  .line {
    @include line-style;
    @apply left-1/2 w-20;
  }

  .symmetry {
    @apply right-1/2 w-6 transform translate-x-m50 skew-x-50;
  }

  .thin {
    @apply left-3/4 w-6;
  }

  .name {
    font-size: 20vw;
    @apply text-white-3 absolute top-1/2 left-1/2 transform translate-x-m50 translate-y-m50;
  }
}
