@import "color"
$top-title-font: 2rem
$title-font: 1.4rem
$text-font: 1rem
$min-font: 0.8rem
$is-phone: "screen and (max-width: 600px)"
$large-screen-display: "screen and (min-width: 1200px)"

=transition
  transition: 0.3s

=wrapper-max-size
  height: 100%
  width: 100%

=flex
  display: flex
  align-items: flex-start

=flex-direction-column
  +flex
  flex-direction: column

=flex-content-center
  +flex
  justify-content: center

=contents-padding
  padding-top: 1.5rem
  @media #{$is-phone}
    padding-top: 2rem

@function solid-border($thickness: 1px, $color: $main-color)
  @return $thickness solid $color
