@import "color"
$top-title-font: 2
$title-font: 1.4
$text-font: 1
$min-font: 0.8
$is-phone: "screen and (max-width: 600px)"
$large-screen-display: "screen and (min-width: 1200px)"

=wrapper-max-size
  height: 100%
  width: 100%

=about-font($font-size: $text-font)
  font-size: $font-size + rem
  line-height: $font-size + 0.4 + rem

=flex
  display: flex
  align-items: flex-start

=flex-direction-column
  display: flex
  flex-direction: column
  align-items: flex-start

=flex-align-bottom
  display: flex
  align-items: baseline

=title($font-size: $top-title-font)
  margin: 0
  +about-font($font-size)

=link($font-size: $text-font)
  +about-font($font-size)
  color: $main-color
  text-decoration: none
  &:hover
    text-decoration: underline

=contents-padding
  padding-top: 1rem
  @media #{$is-phone}
    padding-top: 1.5rem
