@import "../variable/details"
@import "../variable/color"

.header-wrapper
  width: 100%
  padding: 1% 3rem
  @media #{$isPhone}
    text-align: center
    padding: 2%

.header-title
  +about-font($top-title-font)

.my-name
  +about-font($title-font)