@import "../variable/details"
@import "../variable/color"

.intro-top
  display: flex
  flex-wrap: wrap
  padding-top: 2%

.description
  width: 20rem
  padding-right: 2rem

.icon
  width: 20%

.belongLinks > * + *
  margin-left: 0.3rem
