@import "../color"
@import "../details"

=about-font($font-size: $text-font)
  font-size: $font-size
  line-height: $font-size + 0.4rem

=section-title
  +line-style

=text-background
  background-color: $text-back

=text-buttom-margin
  margin-bottom: 0.5rem
