@import "../../variable/details"
@import "../../variable/color"

$icons-size: 6rem
$radius: 50%

.img-wrapper
  +flex
  overflow-x: scroll
  padding: 0.8rem 0

.icon
  max-width: $icons-size
  margin-left: 2rem
  border-radius: $radius
  +drop

.awesome-icon
  margin-left: 0.3rem
  margin-right: 0.8rem
  max-width: 1rem

.with-icon-wrapper
  +flex
